<footer class="flex flex-col justify-center items-center space-y-10">
    <!-- <div class="flex justify-center items-center space-x-24">
        <img src="../../assets/icons/github.svg" alt="icons">
        <img src="../../assets/icons/instagram.svg" alt="icons">
        <img src="../../assets/icons/linkedin.svg" alt="icons">
    </div> -->

    <!-- <div class="flex justify-center items-center space-x-20">
        <a class="navbar__item no-underline" href="#about">About</a>
        <a class="navbar__item no-underline" href="#service">Service</a>
        <a class="navbar__item no-underline" href="#projects">Project</a>
        <a class="navbar__item no-underline" href="#contact">Contact</a>
    </div> -->

    <p>❤️ Created by Keval Vadhiya </p>
</footer>