<section id="about" class="section-y-padding section-x-padding about-section h-screen w-full">
    <div class="custom-container">

        <h1 class="section-title">About</h1>

        <div class="about-content">
            <div>
                <div class="about-img">
                    <img src="../../../assets/images/profile.jpg">
                </div>
            </div>

            <div class="about-text">
                <p>
                    👋 Hello, world! I am <span style="color: var(--primary--color);">Keval Vadhiya</span>, a software
                    engineer from Gujarat, India.
                </p>
                <p>
                    I love to design and code 👨🏼‍💻. I build high-quality applications for the web. I concentrate on
                    writing clean and understandable code. Currently, I'm pursuing my undergrads 👨‍🎓 in Computer
                    Science Engineering at Subhash Technical Campus, Junagadh. I love to work in a team.
                </p>
                <p>
                    Other than coding, I love to watch movies 📽️ and playing games 🎮.
                </p>

                <div class="about-social-icon">
                    <span>
                        <a href="https://www.instagram.com/keval_vadhiya101/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </span>
                    <span>
                        <a href="https://www.linkedin.com/in/keval-vadhiya-914064199/" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </span>
                    <span>
                        <a href="https://github.com/keval101" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>

    </div>

</section>