<section class="about flex flex-row md-max:flex-col w-screen overflow-hidden h-screen md-max:h-full" id="about">
    <div class="about__content">
        <div class="flex space-x-20 flex-wrap sm-max:space-x-8">
            <h1 class="section-title active" (click)="showAbout($event)">About</h1>
            <h1 class="section-title" (click)="showSkills($event)">Skills</h1>
            <h1 class="section-title" (click)="showExperience($event)">experience</h1>
            
        </div>
        <div *ngIf="isAbout">
            <div class="about__content--text">
                👋 Hello, I'm <span class="primary-color">Keval Vadhiya</span>, an experienced Angular Developer with a passion for crafting responsive and dynamic web applications. I thrive on transforming innovative ideas into elegant, user-friendly interfaces that deliver exceptional user experiences. I have been working as <span class="primary-color">Angular Developer</span> for more than <span class="primary-color">2+ years</span>. 
                <br><br>
                🚀 Over the years, I've honed my skills in Angular, a powerful JavaScript framework, and have a proven track record of building robust, scalable, and high-performance web applications.
                <br><br>
                💡 I have a deep understanding of HTML, CSS, and JavaScript, allowing me to create pixel-perfect, cross-browser compatible, and mobile-responsive designs.
                <br><br>
                🛠️ My objective is to produce excellent final products while writing clear and intelligible code. I have a strong attention to detail and persistence. I am self-motivated, growth-oriented, and eager to learn new things.
                <br>
                <br>
                In addition to coding, I also enjoy playing video games 🎮 and watching movies 📽️.

                <div class="about__buttons my-16 flex gap-8">
                    <button class="button up-down-animation button-fill" (click)="downloadCV()">Download CV</button>
                    <a class="button button up-down-animation outline-button" href="mailto:kevalvadhiya101@gmail.com">Hire Me</a>
                </div>

                <div class="flex flex-wrap social-media space-x-8 mt-8">
                    <a class="block w-fit" href="https://github.com/keval101" target="_blank"><img src="../../assets/icons/github.svg" alt="github"  width="50px" height="50px"></a>
                    <a class="block w-fit" href="https://www.linkedin.com/in/keval-vadhiya-914064199/" target="_blank"><img src="../../assets/icons/linkedin.svg" alt="linkedin" width="50px" height="50px"></a>
                    <a class="block w-fit" href="https://www.instagram.com/keval_vadhiya101/" target="_blank"><img src="../../assets/icons/instagram.svg" alt="instagram" width="50px" height="50px"></a>
                </div>
            </div>
        </div>

        <div *ngIf="isSkills">
            <p class="text-5xl font-thin mb-8 skill-title">Technologies:</p>
            <div class=" flex skills flex-wrap">
                <img alt="medium" [src]="TechTags.HTML"/>
                <img alt="medium" [src]="TechTags.CSS"/>
                <img alt="medium" [src]="TechTags.SCSS"/>
                <img alt="medium" [src]="TechTags.TailwindCSS"/>
                <img alt="medium" [src]="TechTags.Bootstrap"/>
                <img alt="medium" [src]="TechTags.JAVASCRIPT"/>
                <img alt="medium" [src]="TechTags.TypeScript"/>
                <img alt="medium" [src]="TechTags.Angular"/>
                <img alt="medium" [src]="TechTags.MaterialUI"/>
                <img alt="medium" [src]="TechTags.MaterialDesign"/>
                <img alt="medium" [src]="TechTags.GIT"/>
                <img alt="medium" [src]="TechTags.NestJs"/>
                <img alt="medium" [src]="TechTags.ApolloGraphQL"/> 
            </div>
            
            <p class="text-5xl font-thin mt-20 mb-8 skill-title">Tools:</p>
            <div class=" flex skills flex-wrap">
                <img alt="medium" [src]="TechTags.Azure_DevOps"/>
                <img alt="medium" [src]="TechTags.Jira"/>
                <img alt="medium" [src]="TechTags.VSCode">
                <img alt="medium" [src]="TechTags.AdobeXD"/>
                <img alt="medium" [src]="TechTags.Figma"/>
                <img alt="medium" [src]="TechTags.AdobePhotoshop"/>
                <img alt="medium" [src]="TechTags.Swagger"/>
                <img alt="medium" [src]="TechTags.Netlify"/>
            </div>
        </div>

        <div *ngIf="isExperience">
            <div class="experience__card flex flex-col">
                <h2 class="font-semibold primary-color">Angular Developer</h2>
                <p class="text-4xl my-4">Softrefine Technology</p>
                <div class="flex space-x-6 flex-wrap">
                    <p class="flex items-center experience__card--text"> <img src="../../assets/icons/location.svg" width="20px" height="20px" alt="location" class="mr-4"> Junagadh, Gujarat </p>
                    <p class="flex items-center experience__card--text"> <img src="../../assets/icons/work.svg" width="20px" height="20px" alt="employee" class="mr-4"> June 2021 - Present </p>
                </div>
                <span class="experience__card--years">Experience {{calculateExperience()}}+ Years</span>
            </div>
        </div>
    </div>
    <img src="../../assets/images/keval.jpeg" alt="" class="w-auto h-full about__image" #img>
</section>
