.sidebar {
    width: var(--sidebar-width);
    background-color: var(--primary--color);

    // @media screen and (max-width: 888px){
    //     width: calc(1.5*var(--sidebar-width));
    // }
    @screen md-max {
        width: calc(1.5*var(--sidebar-width));
    }
    @screen sm-max{
        transform: translateX(-500px);
        width: calc(3*var(--sidebar-width));
    }
}

.showMenu {
    transform: translateX(0px);
    transition: all 0.8s ease;
}

.hideMenu {
    transform: translateX(-500px);
    transition: all 0.8s ease;
}

.nav {
    &-item {
        @apply text-center relative px-3 pb-1 cursor-pointer;
        color: var(--darkbg);
        font-size: 1.4rem;
        &:not(:last-child) {
            @apply mb-3;
        }
        &::before {
            @apply absolute bottom-0 left-0;
            content: '';
            width: 0;
            height: 1px;
            background-color: var(--white-color);
        }
        &.active,
        &:hover::before {
            width: 100%;
            transition: all 0.5s ease-out;
        }
    }
}

.copyright-text {
    position: fixed;
    bottom: 2rem;
    color: rgba(0,0,0,0.5)
}