<div class="navbar" [ngClass]="{'mobile-menu' : openMenu}">
    <div class="ml-40 flex-1">
        <img src="../../../assets/images/logo.png" class="logo">
    </div>
    <ul class="navbar-nav">
        <li class="navbar-nav-item">
            <a href="#home" class="navbar-nav-item-link" [ngClass]="{'active': scroll >= 0 && scroll < 175}" (click)='onMenuClick()'>Home</a>
        </li>
        <li class="navbar-nav-item">
            <a href="#about" class="navbar-nav-item-link" [ngClass]="{'active': scroll >= 175 && scroll < 348}" (click)='onMenuClick()'>About</a>
        </li>
        <li class="navbar-nav-item">
            <a href="#education" class="navbar-nav-item-link"
                [ngClass]="{'active': scroll >= 348 && scroll < 541}" (click)='onMenuClick()'>Education</a>
        </li>
        <!-- <li class="navbar-nav-item">
            <a href="#service" class="navbar-nav-item-link" (click)='onMenuClick()'>Service</a>
        </li> -->
        <li class="navbar-nav-item">
            <a href="#projects" class="navbar-nav-item-link"
                [ngClass]="{'active': scroll >= 541 && scroll < 810}" (click)='onMenuClick()'>Project</a>
        </li>
        <li class="navbar-nav-item">
            <a href="#contact" class="navbar-nav-item-link" [ngClass]="{'active': scroll > 813}" (click)='onMenuClick()'>Contact Us</a>
        </li>
    </ul>
</div>

<button class="top-toggle" (click)="backToTop()" *ngIf="isScrollDown">
    <i class="fas fa-arrow-up"></i>
  </button>
