<section class="about flex flex-row md-max:flex-col w-screen h-screen md-max:h-full" id="about">
    <div class="about__content">
        <div class="flex space-x-20 flex-wrap sm-max:space-x-8">
            <h1 class="section-title active" (click)="showAbout($event)">About</h1>
            <h1 class="section-title" (click)="showSkills($event)">Skills</h1>
            <h1 class="section-title" (click)="showExperience($event)">experience</h1>
            
        </div>
        <div *ngIf="isAbout">
            <div class="about__content--text">
                My name is <span class="primary-color">Keval Vadhiya</span>. I graduated from Gujarat Technical Campus with a degree in Computer Science & Engineering. I have been working as <span class="primary-color">Angular Developer</span> for more than 
                <span class="primary-color">3.5+ years</span>. My objective is to produce excellent final products while writing clear and intelligible code. I have a strong attention to detail and persistence. I am self-motivated, growth-oriented, and eager to learn new things.
                <br>
                <br>
                In addition to coding, I also enjoy playing video games 🎮 and watching movies 📽️.
            </div>
        </div>

        <div *ngIf="isSkills">
            <p class="text-5xl font-thin mb-8 skill-title">Technologies:</p>
            <div class=" flex skills flex-wrap">
                <img alt="medium" src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white"/>
                <img alt="medium" src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white"/>
                <img alt="medium" src="https://img.shields.io/badge/Sass-CC6699?style=for-the-badge&logo=sass&logoColor=white"/>
                <img alt="medium" src="https://img.shields.io/badge/Tailwind_CSS-38B2AC?style=for-the-badge&logo=tailwind-css&logoColor=white"/>
                <img alt="medium" src="https://img.shields.io/badge/JavaScript-323330?style=for-the-badge&logo=javascript&logoColor=F7DF1E"/>
                <img alt="medium" src="https://img.shields.io/badge/TypeScript-007ACC?style=for-the-badge&logo=typescript&logoColor=white"/>
                <img alt="medium" src="https://img.shields.io/badge/Angular-DD0031?style=for-the-badge&logo=angular&logoColor=white"/>
                <img alt="medium" src="https://img.shields.io/badge/Material%20UI-007FFF?style=for-the-badge&logo=mui&logoColor=white"/>
                <img alt="medium" src="https://img.shields.io/badge/material%20design-757575?style=for-the-badge&logo=material%20design&logoColor=white"/>
                <img alt="medium" src="https://img.shields.io/badge/GIT-E44C30?style=for-the-badge&logo=git&logoColor=white"/>
                <img alt="medium" src="https://img.shields.io/badge/Apollo%20GraphQL-311C87?&style=for-the-badge&logo=Apollo%20GraphQL&logoColor=white"/>
            </div>
            
            <p class="text-5xl font-thin mt-20 mb-8 skill-title">Tools:</p>
            <div class=" flex skills flex-wrap">
                <img alt="medium" src="https://img.shields.io/badge/Azure_DevOps-0078D7?style=for-the-badge&logo=azure-devops&logoColor=white"/>
                <img alt="medium" src="https://img.shields.io/badge/Jira-0052CC?style=for-the-badge&logo=Jira&logoColor=white"/>
                <img alt="medium" src="https://img.shields.io/badge/VSCode-0078D4?style=for-the-badge&logo=visual%20studio%20code&logoColor=white">
                <img alt="medium" src="https://img.shields.io/badge/Adobe%20XD-470137?style=for-the-badge&logo=Adobe%20XD&logoColor=#FF61F6"/>
                <img alt="medium" src="https://img.shields.io/badge/Figma-F24E1E?style=for-the-badge&logo=figma&logoColor=whit"/>
                <img alt="medium" src="https://img.shields.io/badge/Adobe%20Photoshop-31A8FF?style=for-the-badge&logo=Adobe%20Photoshop&logoColor=black"/>
                <img alt="medium" src="https://img.shields.io/badge/Swagger-85EA2D?style=for-the-badge&logo=Swagger&logoColor=white"/>
            </div>
        </div>

        <div *ngIf="isExperience">
            <div class="experience__card flex flex-col">
                <h2 class="font-semibold primary-color">Angular Developer</h2>
                <p class="text-4xl my-4">Softrefine Technology</p>
                <div class="flex space-x-6 flex-wrap">
                    <p class="flex items-center experience__card--text"> <img src="../../assets/icons/location.svg" width="20px" height="20px" alt="location" class="mr-4"> Junagadh, Gujarat </p>
                    <p class="flex items-center experience__card--text"> <img src="../../assets/icons/work.svg" width="20px" height="20px" alt="employee" class="mr-4"> June 2019 - Present </p>
                </div>
            </div>
        </div>
    </div>
    <img src="../../assets/images/keval.jpeg" alt="" class="w-auto h-full about__image" #img>
</section>