<section class="section projects" id="projects">
    <div class="k-container">
        <h1 class="section-title">Featured Projects</h1>
        <div class="projects__grid">
            <div class="projects__item">
                <img src="../../assets/images/bhagavadGita.png" alt="bhagavad-gita" class="mb-5">
                <h3 class="projects__item--title mb-4">The Bhagavad Gita</h3>
                <button class="projects__item--knowmore">know more <i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <!-- <div class="projects__item">
                <img src="../../assets/images/bhagavadGita.png" alt="bhagavad-gita" class="mb-5">
                <h3 class="projects__item--title mb-4">The Bhagavad Gita</h3>
                <button class="projects__item--knowmore">know more <i class="fa-solid fa-arrow-right"></i></button>
            </div> -->
        </div>
    </div>
</section>