<section class="contact section" id="contact">
    <div class="contact__container flex justify-center k-container">
        <div class="items-center shadow-md flex px-24 py-24 w-10/12">
            <div class="contact__content w-2/3 mr-60">
                <h1 class="contact__content--heading">Let's work together on your next project</h1>
                <p class="contact__content--description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio cumque dolores veniam quo dicta quod id sequi Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio cumque dolores veniam quo </p>
            </div>
            <button class="button button-fill">
                contact
            </button>
        </div>
    </div>
</section>