.home-section {
    @apply relative;
    .name {
        @apply relative;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: var(--secondary-color);
            width: 110%;
            height: 6px;
            box-shadow: 0 2px 10px var(--secondary-color);
            border-radius: 100px;
            animation: line 1.2s ease-in;
        }

        &-intro {
            @apply pl-1 font-bold;
            font-size: 3rem;
            line-height: 1rem;

            @screen md-max {
                line-height: 2rem;
            }
            @screen sm-max{
                font-size: 2rem;
            }
        }
        &-title {
            @apply font-bold;
            font-size: 5rem;
            color: var(--primary--color);

            @screen md-max {
                font-size: 4rem;
            }
            @screen sm-max{
                font-size: 3rem;
            }
        }
        &-description {
            font-size: 1.2rem;
        }
    }
}

@keyframes line {
    0% {
        width: 0%;
        opacity: 0.2;
    }
    100% {
        width: 110%;
        opacity: 1;
    }
}