.home-section {
    @apply relative;
    .name {

        &-intro {
            @apply pl-1 font-bold;
            font-size: 3rem;
            line-height: 1rem;

            @media screen and (max-width: 600px){
                font-size: 2rem;
            }
        }
        &-title {
            @apply font-bold;
            font-size: 5rem;
            color: var(--primary-color);
            // text-shadow: 0 1px 4px var(--white-color);
            @media screen and (max-width: 600px){
                font-size: 3rem;
            }
        }
        &-description {
            // color: var(--light-grey-1);
            font-size: 1.2rem;
        }
    }
}

@keyframes line {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}