<section id="home" class="section-x-padding home-section custom-container">
    <div class="flex items-center w-full h-screen">
        <div>
            <p class="name-intro">Hey ! I Am</p>
            <h1 class="name-title"><span class="name">Keval </span> Vadhiya</h1>
            <!-- <p class="name-description">Passionate front-end web developer with 1 years of experience using
                JavaScript. HTML5 and CSS to build all aspects of the user experience and
                user interface for client-facing landing pages. Specializes in using Angular2+
                to build single page web-app.
            </p> -->
        </div>
    </div>
</section>