<section id="projects" class="section-y-padding section-x-padding project-section h-screen w-full">
    <div class="custom-container">
        <h1 class="section-title">Projects</h1>

        <div class="project-container">
            <div class="project-card">
                <div class="project-card-image">
                    <img src="../../../assets/images/natours.png" alt="natours">
                </div>

                <div class="project-card-detail">
                    <div class="project-card-text">
                        This is a theme for a tourism company using pure CSS3 with creative animations. This project is
                        from the advanced CSS course of Jonas Schmedtmann on Udemy
                    </div>

                    <div class="project-card-tag">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>SCSS</span>
                        <span>JS</span>
                    </div>

                    <div class="project-card-button">
                        <button class="rounded-full fill-button">Live Demo</button>
                        <button class="rounded-full outline-button">Source Code</button>
                    </div>
                </div>
            </div>

            <div class="project-card">
                <div class="project-card-image">
                    <img src="../../../assets/images/Budget Tracker.png" alt="natours">
                </div>

                <div class="project-card-detail">
                    <div class="project-card-text">
                        This is a Simple Budget Calculator which ui created with HTML & CSS and Bootstrap. In this you
                        can take care of expense. I have used Java Script to Calculate Numbers.
                    </div>

                    <div class="project-card-tag">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Bootstrap</span>
                        <span>JS</span>
                    </div>

                    <div class="project-card-button">
                        <button class="rounded-full fill-button">Live Demo</button>
                        <button class="rounded-full outline-button">Source Code</button>
                    </div>
                </div>
            </div>

            <div class="project-card">
                <div class="project-card-image">
                    <img src="../../../assets/images/nexters.png" alt="natours">

                </div>

                <div class="project-card-detail">
                    <div class="project-card-text">
                        This is a website for a real estate company called Nexter using pure CSS and SCSS.
                        I built this theme when I took the advanced CSS course from Jonas Schmedtmann on Udemy.
                        Most of section created with grid.
                        This is a landing page for a fictional luxury real estate agency called Nexter.
                        The goal of building this page was to master CSS Grid layout and to learn new responsive design
                        techniques
                    </div>

                    <div class="project-card-tag">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Bootstrap</span>
                        <span>JS</span>
                    </div>

                    <div class="project-card-button">
                        <button class="rounded-full fill-button">Live Demo</button>
                        <button class="rounded-full outline-button">Source Code</button>
                    </div>
                </div>
            </div>

            <div class="project-card">
                <div class="project-card-image">
                    <img src="../../../assets/images/trillo.png" alt="natours">
                </div>

                <div class="project-card-detail">
                    <div class="project-card-text">
                        I took Jonas Schmedtmann's Udemy course: Advanced CSS and Sass to learn advanced CSS concepts
                        and techniques.
                        This is the second project in the course, the Trillo website. Flexbox was a major component to
                        this site.
                    </div>

                    <div class="project-card-tag">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Bootstrap</span>
                        <span>JS</span>
                    </div>

                    <div class="project-card-button">
                        <button class="rounded-full fill-button">Live Demo</button>
                        <button class="rounded-full outline-button">Source Code</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>