.projects {
    background-color: var(--bg-secondary-color);

    &__grid {
        @apply grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;

        @screen md-max {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        &--title {
            font-size: 2.4rem;

            @screen md-max {
                font-size: 2.6rem 
            }
        }

        img {
            min-height: 380px;
            object-fit: cover;

            @screen sm-max {
                min-height: 150px;
            }
        }

        &--knowmore {
            @apply uppercase;
            font-size: 1.6rem;
            color: var(--primary-color);
            letter-spacing: 4px;
            transition: all 0.2s ease;
            &:hover .fa-arrow-right{
                color: var(--text-color);
                transition: all 0.2s ease;
                animation: side-arrow 1.5s infinite;
            }
        }
    }
}

@keyframes side-arrow {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(10px);
    }
}