<section class="section projects" id="projects">
    <div class="k-container">
        <h1 class="section-title">Featured Projects</h1>
        <div class="projects__grid">
            <div class="projects__item" *ngFor="let project of projects">
                <img [src]="project.image" alt="image" class="mb-5" [routerLink]="['/projects', project.id]">
                <h3 class="projects__item--title mb-4">{{project.title}}</h3>
                <button class="projects__item--knowmore" [routerLink]="['/projects', project.id]">know more <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</section>