<section id="projects" class="section-y-padding section-x-padding project__section h-screen w-full">
    <div class="custom-container">
        <h1 class="section-title">Projects</h1>

        <div class="project__container">
            <div class="project__card" *ngFor = "let project of projects">
                <div class="project__card-image">
                    <img src="{{project.image}}">
                </div>

                <div class="project__card-detail">
                    <div class="project__card-detail--text">
                        {{project.detailText}}
                    </div>

                    <div class="project__card-tag">
                        <span *ngFor="let tag of project.tags">{{tag}}</span>
                    </div>

                    <div class="project__card-button flex">
                        <button class="mr-4" (click)="openLink(project.liveDemo)">Live Demo</button>
                        <button class="outline-button" (click)="openLink(project.sourceCode)">Source Code</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>