<div class="flex">
  <div class="sidebar-nav">
    <app-side-nav [openMenu]="openMenu"></app-side-nav>
  </div>

  <div class=" h-screen component">
    <app-home></app-home>
    <app-about></app-about>
    <app-education></app-education>
    <app-contact></app-contact>
  </div>
</div>

<button class="menu-toggle" *ngIf="isMobileScreen" (click)="openSidebar()" [ngClass]="{paddingClass: openMenu}">
    <span class="line" [ngClass]="{line1: openMenu}"></span>
    <span class="line" [ngClass]="{line2: openMenu}"></span>
    <span class="line" [ngClass]="{line3: openMenu}" ></span>
</button>

<button class="top-toggle" (click)="backToTop()">
  <i class="fas fa-arrow-up"></i>
</button>
