<div class="navigation-bar" [ngClass]="{'open-menu': isMenuOpen}" *ngIf="!loading">
    <app-navbar (closeSidebar)="openMenu()" [scroll]="scroll"></app-navbar>
</div>
<router-outlet></router-outlet>

<button class="menu-toggle" *ngIf="isMobileScreen" (click)="openMenu()" [ngClass]="{paddingClass: isMenuOpen}">
    <span class="line" [ngClass]="{'line1': isMenuOpen}"></span>
    <span class="line" [ngClass]="{'line2': isMenuOpen}"></span>
    <span class="line" [ngClass]="{'line3': isMenuOpen}"></span>
</button>

<button class="top-toggle" (click)="backToTop()" *ngIf="isScrollDown" *ngIf="!loading" [class.toggle]="isScrollClicked">
    <i class="fas fa-arrow-up"></i>
</button>