<section class="service section" id="service">
    <div class="service__container k-container">
        <h1 class="section-title">Awesome Services</h1>
        <div class="service__items">
            <div class="service__item">
                <img src="../../assets/icons/angular.svg" alt="icon" class="service__item--image">
                <h3 class="service__item--title">SPA Application</h3>
                <p class="service__item--text">
                    Single page applications development services with powerful front end, JavaScript-ased frameworks for quick scalability.
                </p>
            </div>
            <div class="service__item">
                <img src="../../assets/icons/laptop.svg" alt="icon" class="service__item--image"> 
                <h3 class="service__item--title">Front-end Architecture</h3>
                <p class="service__item--text">
                    Frontend development services aimed to create efficient and sustainable application with frontend architecture a set of tools and processes to improve the quality of frontend code.
                </p>
            </div>
            <div class="service__item">
                <img src="../../assets/icons/code.svg" alt="icon" class="service__item--image">
                <h3 class="service__item--title">HTML/CSS Development</h3>
                <p class="service__item--text">
                    HTML/CSS development services providing front-end development using HTML5 tools to build quality and robust applications.
                </p>
            </div>
        </div>
    </div>
</section>