.education {

    &__section {
        background-color: var(--darkbg);

        @screen sm-max {
            height: max-content;
        }
        .section-title {
            @apply mb-8;

            @screen sm-max {
                @apply mb-12;
            }
        }
    }

    &__container {
        @apply relative;
    
        .p-tabview {
            @apply flex;
    
            @screen md-max {
                @apply flex-col;
            }
        }
        .p-tabview-nav {
            @apply flex flex-col;
            width: 300px;
        }
        .p-tabview-panels {
            @apply flex-grow ml-8 p-8;
            background-color: var(--dark-grey);
            color: var(--white-color);
            // height: 445px;
            height: max-content;
    
            @screen md-max {
                @apply ml-0 mt-4;
            }
        }
        .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus ,
        .content-container .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
            @apply shadow-none;
        }
        .p-tabview .p-tabview-nav li .p-tabview-nav-link {
            border: none;
            border-radius: 0;
            background-color: var(--dark-grey);
            color: var(--white-color);
        }
        .p-tabview .p-tabview-nav li .p-tabview-nav-link:hover {
            border-left: 2px solid var(--secondary-color);
        }
        .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link,
        .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
            border-left: 4px solid var(--secondary-color);
            color:#000;
            background-color: var(--primary--color)
        }
        .p-tabview .p-tabview-nav {
            background: none;
            border: none;
        }
        .p-tabview .p-tabview-nav li {
            width: 300px;
        }
    }

    &__items {
        @apply relative pl-6;

        &:before {
            content: '';
            width: 2px;
            height: 100%;
            background: var(--secondary-color);
            position: absolute;
            top: 0;
            left: 0;
        }

        &-item {
            @apply relative;
            &::before {
                @apply absolute rounded-full;
                content: '';
                width: 14px;
                height: 14px;
                background: var(--white-color);
                top: 16px;
                left: -1.82rem;
            }
    
            &:not(:last-child) {
                @apply mb-8;
            }
            &--title {
                @apply font-semibold;
                font-size: 1.8rem;
                color: var(--primary--color);
    
                @screen md-max {
                    font-size: 1.2rem;
                }
            }
            &--school {
                @apply font-normal;
                font-size: 1.2rem;
                @screen md-max {
                    font-size: 1rem;
                }
            }
        }
    }

}

.work {
    &__title {
        @apply font-semibold;
        color: var(--primary--color);
        font-size: 1.8rem;

        @screen md-max {
            font-size: 1.2rem;
        }
    }
    &__company {
        @apply pl-8;
        font-size: 1.2rem;
        @screen md-max {
            font-size: 1rem;
        }
    }
    &__duration {
        @screen md-max {
            @apply flex-col; 
        }
    }
}
.code-icon,
.technology-icon {
    @apply mr-2;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.duration-text {
    color: var(--grey-color);
    @screen md-max {
        font-size: 0.8rem;
    }
}

.skill {
    &__detail {
        .icons {
            img {
                @apply m-4;
                width: 50px;
                height: 50px;
            }

            .azure-icon {
                width: 50px;
                height: 44px;
            }
        }
    }
}