
@font-face {
    font-family: 'Conneqt Regular';
    src: url('../../assets/fonts/ConneqtRegular.ttf');
}

@font-face {
    font-family: 'Carnova Semibold';
    src: url('../../assets/fonts/CarnovaSemibold.otf');
}

.landing {
    &::before {
        @apply absolute w-full h-full;
        content: '';
        background: radial-gradient(ellipse at top, rgba(61, 62, 66, 1), transparent);
    }

    &__social {
        max-width: var(--max-width-limit);
        margin: 0 auto;
        &--container {
            @apply absolute;
            width: 100%;
            left: 0;
            bottom: 40px;
            max-width: var(--max-width-limit);

            a {
                &:not(:last-child) {
                    @apply mb-10
                }
            }

            img{
                @apply cursor-pointer;
                width: 40px;
            }
        }
    }
    &__container {
        p {
            font-size: 4rem; 
            font-family: 'Carnova Semibold';
        }
    }

    &__content {
        @apply flex flex-col relative font-light uppercase leading-none;
        font-size: 10rem;

        .headline {
            color: var(--secondary-color);
            padding-left: 1.4rem;

            @screen sm-max {
                padding-left: 0;
            }

            &::before {
                @apply absolute;
                content: '';
                width: 75%;
                height: 1rem;
                background-color: var(--primary-color);
                top: 35%;
                right: 3rem;
            }
        }
    
        .subline {
            @apply self-end pr-12;
            margin-top: 3.2rem;
            color: var(--primary-color);
        }

        .title {
            @apply font-bold -mt-4 sm:-mt-16;
            font-family: 'Conneqt Regular';
            font-size: 20rem;
            color: #dddddd;
            letter-spacing: 3rem;

            @screen sm-max {
                font-size: 12rem
            }
        }
    }
}