<section id="landing" class="landing">
    <div class="landing__container flex justify-center items-center w-screen h-screen">
        <div class="landing__content">
            <p class="headline relative">Hi I'm</p>
            <h1 class="title">Keval</h1>
            <p class="subline">A Front end developer</p>
        </div>
    </div>
    
    <div class="relative w-full landing__social">
        <div class="landing__social--container">
            <a class="block w-fit" href="https://github.com/keval101"><img src="../../assets/icons/github.svg" alt="github" ></a>
            <a class="block w-fit" href="https://www.linkedin.com/in/keval-vadhiya-914064199/"><img src="../../assets/icons/linkedin.svg" alt="linkedin"></a>
            <a class="block w-fit" href="https://www.instagram.com/keval_vadhiya101/"><img src="../../assets/icons/instagram.svg" alt="instagram"></a>
        </div>
    </div>
</section>