.service {
    // background-color: var(--bg-secondary-color);
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 6rem;

        @screen md-max {
            grid-template-columns: repeat(1, 1fr);  
        }
    }
    &__item {
        @apply flex flex-col items-center rounded-md p-16 hover:cursor-pointer;
        // width: 300px;
        gap: 2.5rem;
        background-color: rgba(61, 62, 66, 0.1);
        transition: all 0.2s ease;

        &:hover {
            box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3);
            transition: all 0.2s ease;
        }

        @screen lg-max {
            @apply p-12;
        }

        &--image {
            width: 8rem;
        }

        &--title {
            @apply font-semibold text-center;
            font-size: 3rem;

            @screen xl-max {
                font-size: 2.2rem
            }

            @screen md-max {
                font-size: 2.4rem 
            }

            @screen sm-max {
                font-size: 16px 
            }
        }

        &--text {
            @apply text-center;
            font-weight: 200;
            font-size: 2rem;
            color: rgba(225, 225, 225, 0.8);

            @screen xl-max {
                font-size: 1.8rem;
            }

            @screen lg-max {
                font-size: 1.6rem; 
            }

            @screen md-max {
                font-size: 2rem 
            }

            @screen sm-max {
                font-size: 14px 
            }
        }
    }
}